<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
   <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding"
             type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=3.5.7.0, Culture=neutral,PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    <client>
      <endpoint address="soap.amq:///myqueue"
          binding="rabbitMQBinding"
          bindingConfiguration="rabbitMQConfig"
          contract="ReadAMQPMessage.IService1"
           />
    </client>
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig"
          Uri="amqp://qwkgfezg:RrbeC8ZJWSfdwENQyCMbxbepuH09n8Bu@otter.rmq.cloudamqp.com/qwkgfezg"
                 />
      </rabbitMQBinding>
    </bindings>
  </system.serviceModel>

</configuration>
